<div id="activity">
  <%= render "page_title", page_title: "活動内容" %>
  <div class="container">
    <ul class="activity_list">
      <li>
        <div class="left">
          <div class="square"></div>
          <%= image_tag "activity1.png" %>
        </div>
        <div class="right">
          <p class="activity_number">ACTIVITY 01</p>
          <h2>就活イベントの企画運営</h2>
          <p>就活生や学部1~2年生に向けて、就活に役立つようなイベントを、学生ならではの柔軟な視点で企画・実施しています。
          <br>毎回参加学生からの満足度が高く、注目を集めています。
          </p>
        </div>
      </li>
      <li>
        <div class="left">
          <div class="square"></div>
          <%= image_tag "activity2.png" %>
        </div>
        <div class="right">
          <p class="activity_number">ACTIVITY 02</p>
          <h2>就活に関する情報の発信</h2>
          <p>TwitterやLINEグループなどのSNSを通して、就活情報を発信しています。
          <br>発信する情報は、就活のノウハウやおすすめのインターンシップ情報など多岐にわたります。
          </p>
        </div>
      </li>
      <li>
        <div class="left">
          <div class="square"></div>
          <%= image_tag "activity3.png" %>
        </div>
        <div class="right">
          <p class="activity_number">ACTIVITY 03</p>
          <h2>就活イベントの企画運営</h2>
          <p>選択肢を提供し、学生に視野を広げてもらうために企業と連携したイベント開催やOB・OG訪問を気軽にできるプラットフォームを作っています。
          </p>
        </div>
      </li>
    </ul>
  </div>

  <%= render "contact_area" %>
</div>
