<%= form_with model: model, url: url, local: true, class: "events_form" do |f| %>
  <%= render "shared/error_messages", resource: f.object %>
  <div class="field">
    <p>タイトル</p>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <p>タグ</p>
    <%= f.select :tag, [["イベント", 1], ["お知らせ", 2]] %>
  </div>
  <div class="field">
    <p>開催日時</p>
    <%= f.date_select :holded_at %>
  </div>
  <div class="field">
    <% if @event.event_image? %>
      <%= image_tag @event.event_image.url, class: "event_image" %>
    <% end %>
    <p>アイキャッチ画像</p>
    <%= f.file_field :event_image, class: "event_image" %>
  </div>
  <div class="field">
    <p>内容</p>
    <%= f.hidden_field :content, id: "event_content" %>
    <trix-editor input="event_content"></trix-editor>
  </div>
  <%= f.submit "公開", class: "btn_submit" %>
<% end %>
