<header>
  <div class="container-fluid">
    <div class="header_nav">
      <%= link_to image_tag("logo.png"), root_path, class: "nav_logo" %>

      <div id="nav-toggle">
        <div>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="gloval-nav">
        <nav>
          <ul class="nav_list">
            <li>
              <%= link_to "HOME", root_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "from Kとは", about_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "活動内容", activity_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "活動実績", event_path, class: "nav-link" %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
