<!DOCTYPE html>
<html>
  <head>
    <title>from K 金沢大学就職支援室学生サポーター</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= render "layouts/header" %>
    <!-- <p class="notice d-none"><%= notice %></p>
    <p class="alert d-none"><%= alert %></p> -->
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
